.exercise_1 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
border: 2px solid #bfbfbf;
padding: 20px;
width: auto;
height: auto;
}

.exercise_2 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
border: 2px solid #bfbfbf;
padding: 20px;
width: auto;
height: auto;
}

.exercise_3 {
  text-align: center;
  margin: 5px;
  border-radius: 25px;
border: 2px solid #bfbfbf;
padding: 20px;
width: auto;
height: auto;
}

.answer {  
  text-align: center;
  border-radius: 10px;
border: 2px solid #bfbfbf;
width: auto;
height: auto;
}

